<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] - %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 按日期区分的滚动日志 -->
	<appender name="error-out" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/mybatis/error.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%class:%line] - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
    

	<!-- 按文件大小区分的滚动日志-->
	<appender name="info-out" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/mybatis/info.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%class:%line] - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>info.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender>
    
    
	<!-- 按日期和大小区分的滚动日志 -->
	<appender name="debug-out" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/mybatis/debug.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%class:%line] - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
    
    
    <logger name="com.sbatis2.cache" level="DEBUG" />
    
    
	<root level="WARN">
		<appender-ref ref="console" />
		
		<appender-ref ref="error-out" />
		<appender-ref ref="info-out" />
		<!-- 
		<appender-ref ref="debug-out" />
		-->
	</root>
</configuration>